<a href="https://colab.research.google.com/github/Variiiest/Django3rdParty/blob/main/Ass1IN_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Find out all the types of error that we have encountered in our lecture and why?

In [5]:
#variable case sensitive 
varish=" 123"
Varish= "234" 

#both are the seprated variable , we can't use varish , Varish as vArIsH. if we try to find the value of vARISH that means this variable doesn't exist . 
#THis will give error.
print(vARISH)

NameError: ignored

In [9]:
#Reserved Keyword
del=3
#As del is reserved keyword , so that we can't use as variable.

#Note: print is not keyword . Because we can't assign anything to reserved keyword and as in lecture , print was assigned to something

SyntaxError: ignored

In [10]:
def func(a):
  return a

func= 3
print(func(func))

#Now , func is assigned , that's why func is not working.

TypeError: ignored

In [16]:
#Operations 

a= "Aditya"
b= "Aditi"
print(a+b)
print(a%2) #it will generate error
print(a-b)# It will generate error

AdityaAditi

TypeError: ignored

In [21]:
# int "AB" # This was in lecture as collab using python 3, it is not valid
int('Ab') # We can't convert string in base 10

ValueError: ignored

In [25]:
a= "10.2" 
print(float(a)) # we can convert this to float but can not convert in int

10.2

#Take input A and B and print their sum, mul, div, square of the nos.

In [27]:
a= int(input())
b= int(input())
print(a+b)
print(a*b)
print(a/b)
print(a*a, b*b)

5
5
10
25
1.0
25 25

How many reserve keywords are there in python and why we should not use them as a variable name

In [ ]:
33 , We can't use reserve keywords because they are already used for some specific purpose.

In [28]:
#Create email ids with the user inputs. in the following format

first_n= input()
second_n= input()

print(f"{second_n}.{first_n}@gmail.com")

varish
gautam
gautam.varish@gmail.com

In [30]:
# Try to print the following lines -

#     Hi I'm Sunny
#     My address is 22\3
#     I earn 20$ daily.

print("Hi I'm Sunny")
print("My address is 22\\3")
print("I earn 20$ daily.")

Hi I'm Sunny
My address is 22\3
I earn 20$ daily.

In [31]:
#Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

form_name = input()
form_add = input()
form_dob = input()

print(f"{form_name}12{form_dob}{form_add}@gmail.com")

varish
tejapiur
05052001
varish1205052001tejapiur@gmail.com

In [32]:
# Convert the following -

#     "22.4" into integer
#     "22" into complex no.

print(int(float("22.4")))
print(complex(int(22)))

22
(22+0j)